body {
  margin: 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 4px;
}
.description {
  padding: 10px;
}
h4 {
  margin: 0;
}
.card-image {
  width: 100%;
  height: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
}
.row1, .row2 {
  gap: 16px;
}
#header {
  background-color: #333;
  color: green;
}